---
import IconPrice from "./icon/IconPrice.astro";
import IconLenta from "./icon/IconLenta.astro";
import IconPhoto from "./icon/IconPhoto.astro";
import * as PriceCont from "../content/price-content.md";
---

<section class="price">
  <div class="container">
    <h2 class="price__h2">{PriceCont.frontmatter.title}</h2>
    <div class="wrapper-price">
      <div class="wrapper-price__item" id="stories">
        <span>
          <IconPrice />
        </span>
        <p class="wrapper-price__item--title">
          {PriceCont.frontmatter.card1}
        </p>
        <p>
          {PriceCont.frontmatter.text1}
        </p>
      </div>
      <div class="wrapper-price__item" id="lenta">
        <span>
          <IconLenta />
        </span>
        <p class="wrapper-price__item--title">
          {PriceCont.frontmatter.card2}
        </p>

        <ul>
          <li>{PriceCont.frontmatter.text2_item1}</li>
          <li>{PriceCont.frontmatter.text2_item2}</li>
          <li>{PriceCont.frontmatter.text2_item3}</li>
          <li>{PriceCont.frontmatter.text2_item4}</li>
        </ul>
      </div>
      <div class="wrapper-price__item" id="photo">
        <span>
          <IconPhoto />
        </span>
        <p class="wrapper-price__item--title">{PriceCont.frontmatter.card3}</p>
        <p>
          {PriceCont.frontmatter.text3}
        </p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .price {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
    &__h2 {
      text-align: center;
    }
  }
  .wrapper-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    gap: 40px 30px;
    padding-top: 40px;

    &__item {
      width: 300px;
      height: 400px;
      text-align: center;
      padding: 30px 20px 20px;
      border: 2px solid var(--danube);
      border-radius: 0 30px;

      &--title {
        font-size: 1.6rem;
        color: var(--danube);
        padding: 10px 0;
        line-height: 1.2;
      }
    }
  }
  li {
    line-height: 1.4;
    font-size: 1.25rem;
    color: var(--kashmir);
  }
</style>
